p
  |
    Complétez ce formulaire pour nous envoyer une demande de réservation. Nous
    prendrons contact avec vous dès réception de votre demande.

= render "public/bookings/form/info", f: f
= render "public/bookings/form/type", f: f
= render "public/bookings/form/reservation", f: f
= render "public/bookings/form/payment", f: f
= render "public/bookings/form/party_hall", f: f
= render "public/bookings/form/options", f: f
= render "public/bookings/form/comments", f: f
