<% current_month = date_range.first.month %>
<div class="lg:flex lg:h-full lg:flex-col">
  <div class="shadow ring-1 ring-black ring-opacity-5 lg:flex lg:flex-auto lg:flex-col">
    <% date_range.each_slice(7).with_index do |weekdays, index| %>
      <% if index == 0 %>
        <div class="grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs font-semibold leading-6 text-gray-700 lg:flex-none">
          <% weekdays.each do |day| %>
            <div class="flex justify-center bg-white py-2">
              <span><%= l(day, format: "%A") %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="flex bg-gray-200 text-xs leading-6 text-gray-700 lg:flex-auto">
      <div class="hidden w-full lg:grid lg:grid-cols-7 lg:gap-px">
        <% date_range.each do |day| %>
          <!--
            Always include: "relative py-2 px-3"
            Is current month, include: "bg-white"
            Is not current month, include: "bg-gray-50 text-gray-500"
          -->
          <div class="relative bg-gray-50 py-2 px-3 text-gray-500">
            <!--
              Is today, include: "flex h-6 w-6 items-center justify-center rounded-full bg-indigo-600 font-semibold text-white"
            -->
            <time datetime="<%= l(day, format: "%Y-%m-%d") %>">
              <% if current_month != day.month %>
                <% current_month = day.month %>
                <%= l(day, format: "%e %b") %>
              <% else %>
                <%= l(day, format: "%e") %>
              <% end %>
            </time>

            <% passed_block.call day, sorted_events.fetch(day, []) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>